apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "capsule.fullname" . }}-mutating-webhook-configuration
  labels:
    {{- include "capsule.labels" . | nindent 4 }}
  namespace: {{ include "capsule.namespace" . }}
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /mutate-v1-namespace-owner-reference
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: owner.namespace.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  reinvocationPolicy: Never
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - namespaces
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /mutate-v1-service-labels
      port: 443
  failurePolicy: Ignore
  matchPolicy: Exact
  name: service.labels.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  reinvocationPolicy: Never
  rules:
  - apiGroups:
    - ""
    - discovery.k8s.io
    apiVersions:
    - v1
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - services
    - endpoints
    - endpointslices
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
