apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "capsule.fullname" . }}-validating-webhook-configuration
  labels:
    {{- include "capsule.labels" . | nindent 4 }}
  namespace: {{ include "capsule.namespace" . }}
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validating-ingress
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: ingress.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - networking.k8s.io
    - extensions
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ingresses
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validate-v1-namespace-quota
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: quota.namespace.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - namespaces
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validating-v1-network-policy
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: validating.network-policy.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - networking.k8s.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - networkpolicies
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validating-v1-pvc
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: pvc.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - persistentvolumeclaims
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validating-v1-tenant-name
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: tenant.name.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - capsule.clastix.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - tenants
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    caBundle: Cg==
    service:
      name: {{ include "capsule.fullname" . }}-webhook-service
      namespace: {{ include "capsule.namespace" . }}
      path: /validating-v1-namespace-tenant-prefix
      port: 443
  failurePolicy: Fail
  matchPolicy: Exact
  name: prefix.namespace.capsule.clastix.io
  namespaceSelector: {}
  objectSelector: {}
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - namespaces
    scope: '*'
  sideEffects: Unknown
  timeoutSeconds: 30
